$header_text    : #ffffff !default;
$header_text2   : #f1f1f1 !default;
$header_text3   : #000000 !default;

$header_bg      : #333333 !default;
$header_bg2     : #7f8c8d !default;
$header_bg3     : #95a5a6 !default;
$header_bg4     : #2d3436 !default;
$header_bg5     : #222f3e !default;
$header_bg6     : #2e4157 !default;